[Unit] 
Description=OCI P2P Registry Daemon 
After=network.target
[Service]
Type=simple
ExecStart=/usr/local/bin/oci-registry-p2p serve /etc/oci-registry-p2p/config.yaml
Restart=on-failure
WorkingDirectory=/etc/oci-registry-p2p
[Install]
WantedBy=default.target
